@model _4bet.Models.Championship
@{
    ViewBag.Title = "Championships";
}

    <div class="container">
        <div>
            <h3>
                Championships
                @if (@ViewBag.isAdmin == true)
                {
                    <a class="btn btn-primary float-right" href="/Championship/New"><i class='fas fa-plus'></i></a>
                }
            </h3>
            
        </div>
        <br />
        <br />
        <div class="card-columns" style="text-align: center">
            @foreach (var championship in ViewBag.Championships)
            {
                <a href="/Championship/Show/@championship.ChampionshipId" style="color: black; text-decoration:none">
                    <div class="card" style="width:300px; height:550px">
                        <img class="card-img-top" src="~/Assets/@championship.PhotoFileName" alt="Image unavailable" style="width:299px; height:400px">
                        <div class="card-body">
                            <h3 class="card-title">@championship.ChampionshipName</h3>
                            <h5 class="card-text">@championship.Teams.Count teams. @championship.FootballMatches.Count matches. <br/> Country: @championship.Country</h5>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>

