@model _4bet.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.LabelFor(m => m.OldPassword)
    <br/>
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
    <br/>
        @Html.LabelFor(m => m.NewPassword)
    <br/>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    <br/>
        @Html.LabelFor(m => m.ConfirmPassword)
    <br/>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    <br/>
            <input type="submit" value="Change password" class="btn btn-primary" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}