<div class="container" style="text-align: center;">
    <div class="row">
        
        <div class="col-sm-12">
            <h2>
                @ViewBag.Team.TeamName
                @if (@ViewBag.isAdmin == true)
                        {
                                <a class="btn btn-primary float-right" href="/Team/Edit/@ViewBag.Team.TeamId"><i class='far fa-edit' style="color: white;"></i></a>
                        }
            </h2>

        </div>
    </div>
   
    <div class="row">
        <div class="col-sm-3">
            <img src="~/Assets/@ViewBag.Team.PhotoFileName" alt="Image unavailable" style="height:250px">
        </div>
    </div>

    <br/>
    @if (ViewBag.HasMatches)
    {
        <hr />
        <h3>Current matches</h3>
    }
    @foreach (var match in ViewBag.CurrentMatches)
    {
        <div class="card" style="width: 100%; text-align: center">
            <div class="card-body">
                <h4 class="card-title">@match.FirstTeam.TeamName - @match.SecondTeam.TeamName</h4>
                <p class="card-text">@match.Championship.ChampionshipName - @match.Championship.Country</p>
                <p class="card-text">Odds: <br/> @match.FirstTeam.TeamName wins - @match.FirstTeamWinsOdd. <br/> @match.SecondTeam.TeamName wins - @match.SecondTeamWinsOdd. <br/> Draw - @match.DrawOdd</p>
                <p class="card-text">@match.ResolveTime</p>
                <a class="btn btn-primary card-link" href="/Bet/FootballMatch/@match.FootballMatchId">Place bet</a>
                @if (@ViewBag.isAdmin == true)
                {
                    <a class="btn btn-primary card-link" href="/Match/Resolve/@match.FootballMatchId">Resolve</a>
                    <br />
                }
            </div>
        </div>
        <br />
    }
    @if (ViewBag.HasHistory)
    {
        <hr />
        <h3>Past matches</h3>
    }
    @foreach (var match in ViewBag.PastMatches)
    {
        <div class="card" style="width: 100%; text-align: center">
            <div class="card-body">
                <h4 class="card-title">@match.FirstTeam.TeamName - @match.SecondTeam.TeamName</h4>
                <p class="card-text">@match.Championship.ChampionshipName - @match.Championship.Country</p>
                @if (@match.Outcome == "1")
                {
                    <p>@match.FirstTeam.TeamName won!</p>
                }
                @if (@match.Outcome == "2")
                {
                    <p>@match.SecondTeam.TeamName won!</p>
                }
                @if (@match.Outcome == "3")
                {
                    <p>The match ended in a draw</p>
                }
                @if (@ViewBag.isAdmin == true)
                {
                    <br />
                    using (Html.BeginForm(actionName: "Delete", controllerName: "Match", routeValues: new { id = @match.FootballMatchId }))
                    {

                        @Html.HttpMethodOverride(HttpVerbs.Delete)

                        <button class="btn btn-danger" type="submit">Delete</button>
                    }
                }
            </div>
        </div>
        <br />
    }
</div>
